<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.coinbene.manbiwang.market">
    <application>
        <activity
            android:name=".activity.EditOptionalActivity"
            android:screenOrientation="nosensor" />
    </application>
</manifest>
