<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.coinbene.common">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:appComponentFactory="@null"
        tools:replace="android:appComponentFactory">

        <activity android:name=".activities.SelectSearchPairActivity"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="nosensor"/>
    </application>
</manifest>
