<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coinbene.manbiwang.fortune">

    <application>
        <activity
            android:name=".FortuneActivity"
            android:screenOrientation="nosensor" />

        <activity
            android:name=".activity.YbbTransferActivity"
            android:screenOrientation="nosensor" />

        <activity
            android:name=".activity.YbbDetailActivity"
            android:screenOrientation="nosensor" />

        <activity
            android:name=".activity.YbbRecordActivity"
            android:screenOrientation="nosensor" />
    </application>

</manifest>