<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coinbene.manbiwang.contract" >


    <application >

        <activity
            android:name=".contractbtc.activity.CalculatorBtcActivity"
            android:screenOrientation="nosensor" />

        <activity
            android:name=".contractbtc.activity.ClosePositionBtcActivity"
            android:screenOrientation="nosensor" />

        <activity
            android:name=".contractusdt.activity.ContractPlanUsdtActivity"
            android:screenOrientation="nosensor" />

        <activity
            android:name=".contractbtc.activity.ContractPlanBtcActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".contractusdt.activity.ClosePositionUsdtActivity"
            android:screenOrientation="nosensor" />

    </application>
</manifest>

