<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.coinbene.manbiwang">

    <application
        android:name=".CoinbeneApplication"
        android:allowBackup="true"
        android:icon="@mipmap/rmex_launcher_logo"
        android:label="RMEX"
        android:resizeableActivity="true"
        android:roundIcon="@mipmap/rmex_launcher_round_logo"
        android:supportsRtl="true"
        android:theme="@style/CoinbeneAppTheme"
        android:usesCleartextTraffic="true"
        android:appComponentFactory="@null"
        tools:replace="android:name,android:label,android:appComponentFactory,android:icon,android:roundIcon">
        
    </application>
</manifest>